name: Hello world workflow

on:
  push:
    branches:
      - main

jobs:
  say-hello:
    runs-on: nicolas-VirtualBox
    steps:
      - name: Print a message
        run: echo "hello my first test"
  
